<!doctype html>
<html ng-app="ng-games">
  <head>
    <title>Games List</title>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/yeti/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>

  {% raw %}
  <h1 class="text-center">Games List</h1>

  <body ng-controller="GamesController as games_list">
    <table class="table">
      <tr>
        <th>Game #</th>
        <th>Scores</th>
        <th>Result</th>
      </tr>
      <tr ng-repeat="game in games_list.games_shown">
        <td>{{ game.id }}</td>
        <td>
          <ul class="list-unstyled">
            <li ng-repeat="(name, score) in game.players">
              {{ name }}: {{ score }}
            </li>
          </ul>
        </td>
        <td>
          <span>Winner: Everyone :3</span>
        </td>
      </tr>
    </table>

    <div ng-if="games_list.last_index < games_list.all_games.length">
      <h1 class="text-center">
        <span ng-click="games_list.nextPage()" class="btn btn-info">
          <span class="fa fa-plus"></span>  Load {{ games_list.page_size }} More Games
        </span>
      </h1>
    </div>
    
    {% endraw %}

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular-resource.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/games_list.js"></script>
  </body>
</html>
